@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  user-select: none;
}

a:active a:link,
a:visited {
  text-decoration: none;
  transition: 0.5s;
}

/*---------LOGO Y MENU------------*/
.df-header {
  width: 100%;
}
.df-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #228FA8;
  border-radius: 0.4rem;
  padding-right: 20px;
}
.df-header .df-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: auto;
  width: auto;
  margin: 0;
}
.df-header li {
  margin: 50px;
  font-weight: 900;
}
.df-header a {
  padding: 4px;
  text-decoration: none;
  color: white;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.df-header a:hover {
  background-color: rgba(245, 61, 132, 0.6509803922);
  border: 3px solid;
  border-radius: 5px;
}
.df-header nav #toggle,
.df-header nav label {
  display: none;
}
.df-header .logo {
  padding-left: 10px;
}
.df-header .logo1 {
  width: 90px;
  height: 90px;
  padding: 7%;
  background-color: rgba(0, 0, 0, 0.779);
}
@media (max-width: 1100px) {
  .df-header nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .df-header .df-ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  .df-header ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  .df-header li {
    margin: 0;
  }
  .df-header .logo {
    display: flex;
    justify-content: left;
    margin: 0;
  }
  .df-header .logo1 {
    width: 80px;
    height: 80px;
  }
  .df-header nav label {
    display: inline-block;
    color: white;
    cursor: pointer;
    justify-content: right;
    margin: 0;
  }
  .df-header nav #toggle:checked ~ .menu {
    height: 100%;
    width: 100%;
  }
  .df-header i {
    font-size: 50px;
    font-weight: 500;
  }
  .df-header a {
    font-size: small;
  }
}
@media (max-width: 430px) {
  .df-header .logo1 {
    width: 50px;
    height: 50px;
  }
}

/*-------MAIN INICIO-------------*/
.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(#792CDE, 5%, #F5E656, #25CEF5);
}
.main .img-main2 {
  width: 65%;
  height: 35%;
  margin: 0 0 0 5%;
}
.main .titulos .img {
  width: 90%;
  height: 10%;
  margin: 0 0 0 5%;
  object-fit: fill;
}
.main .titulos h1 {
  font-family: fantasy;
  color: #F53D84;
  display: flex;
  justify-content: center;
  padding: 3%;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.main .titulos h2 {
  font-size: xx-large;
  font-family: initial;
  color: #F5E656;
  display: flex;
  justify-content: center;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 3;
  background-color: #DE2CC9;
  padding: 30px;
}
.main p {
  font-size: xx-large;
  font-weight: 600;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  justify-content: center;
  padding: 5%;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}
@media (max-width: 1100px) {
  .main .titulos h2 {
    font-size: x-large;
  }
  .main p {
    font-size: large;
  }
}
@media (max-width: 720px) {
  .main .titulos h2 {
    font-size: large;
  }
}

/*-------Pie de Pagina------*/
.bg-footer {
  background-color: #228FA8;
  padding: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bg-footer .type-white {
  color: #ffffff;
  margin: 20px;
  width: 80%;
  height: 80%;
  font-size: large;
  font-style: inherit;
  font-family: cursive;
}
.bg-footer .redes {
  display: flex;
  align-items: center;
  padding: 5px;
}
.bg-footer i {
  color: #ffffff;
  font-size: 45px;
  margin: 15px;
}
.bg-footer i:hover {
  transform: scale(1.5);
}

@media (max-width: 768px) {
  .bg-footer .type-white {
    font-size: medium;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-left: 5px;
  }
  .redes {
    margin: 0;
    padding: 0;
    width: 180px;
    height: 180px;
    flex-direction: row;
  }
  .bg-footer i {
    font-weight: 50;
    font-size: 30px;
  }
  .bg-footer a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*--------MAIN PRODUCTOS---------*/
.main-productos {
  padding: 50px 5px 5px 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.766), rgba(121, 44, 222, 0.7725490196), 45%, #F6C931);
}
.main-productos h1 {
  font-weight: 400;
  font-family: fantasy;
  color: #7A2CDE;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.main-productos h2 {
  color: #F6C931;
  background-color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 25px;
  padding: 2%;
}
.main-productos p {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}
.main-productos .parent {
  width: 85%;
  height: 85%;
  padding: 1%;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 5px;
  border: 10px inset #F6C931;
  list-style: none;
  color: #ffffff;
}
.main-productos img {
  width: 100%;
  height: 50%;
  border: 5px double #ffffff;
  border-radius: 10px;
  display: flex;
  margin: 0;
}
.main-productos .img1 {
  width: 100%;
  height: 80%;
  margin: 0%;
  border: none;
  border-radius: 25px;
}
.main-productos .div1 {
  grid-area: 1/1/2/2;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div2 {
  grid-area: 1/2/2/3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div3 {
  grid-area: 1/3/2/4;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div4 {
  grid-area: 1/4/2/5;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div5 {
  grid-area: 2/1/3/2;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div6 {
  grid-area: 2/2/3/3;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div7 {
  grid-area: 2/3/3/4;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div8 {
  grid-area: 2/4/3/5;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
@media (max-width: 780px) {
  .main-productos .parent {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    list-style: none;
    grid-row-gap: 55px;
  }
  .main-productos .parent .img {
    width: 60%;
    height: 50%;
    margin: 0 0 0 20%;
  }
  .main-productos .parent h2 {
    font-size: x-large;
  }
  .main-productos .parent p {
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-productos .parent li {
    font-size: large;
    color: black;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--------Fin de Main Productos------*/
/*-------MAIN SERVICIOS-----*/
.main-servicios {
  color: #F53D84;
  font-weight: 500;
  font-size: xx-large;
  background: linear-gradient(rgba(255, 255, 255, 0.382), rgba(121, 44, 222, 0.7215686275), 90%, rgba(222, 109, 44, 0.5764705882));
}
.main-servicios .img1 {
  width: 45%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-servicios h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-family: fantasy;
  padding: 3%;
}
.main-servicios h2 {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.main-servicios p {
  font-size: xx-large;
  font-weight: 500;
  margin: 5%;
  color: #ffffff;
  text-align: center;
}
.main-servicios .tratamientos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  font-family: initial;
  background-color: rgba(0, 0, 0, 0.733);
  padding: 90px;
}
.main-servicios .img-servis {
  width: 320px;
  height: 320px;
  margin: 1%;
  border: 15px solid #ffffff;
  border-radius: 10px;
  transition: transform 0.3s;
}
.main-servicios .img-servis:hover {
  transform: scale(1.5);
}
.main-servicios .li1 {
  animation-name: aparecer;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.main-servicios .li2 {
  animation-name: aparecer;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
.main-servicios .li3 {
  animation-name: aparecer;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
.main-servicios .li4 {
  animation-name: aparecer;
  animation-duration: 6s;
  animation-iteration-count: 1;
}
.main-servicios .li5 {
  animation-name: aparecer;
  animation-duration: 7s;
  animation-iteration-count: 1;
}
.main-servicios .li6 {
  animation-name: aparecer;
  animation-duration: 8s;
  animation-iteration-count: 1;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 3;
  }
}
@media (max-width: 1180px) {
  .main-servicios .tratamientos {
    flex-direction: column;
  }
  .main-servicios p {
    font-size: x-large;
  }
  .main-servicios .img-servis {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
  }
  .main-servicios .img1 {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 960px) {
  .main-servicios .img2 {
    width: 100%;
    height: 100%;
  }
  .main-servicios .img-servis {
    transition: transform 0.3s;
  }
  .main-servicios .img-servis:hover {
    transform: scale(1.2);
  }
}

/*------Fin de Servicios----*/
/*---------Contacto---------*/
.maincontacto {
  background: linear-gradient(rgba(246, 200, 49, 0.7960784314), 30%, rgba(121, 44, 222, 0.7294117647), #F53D84);
  width: 100%;
  height: 100%;
  padding: 5%;
}
.maincontacto .mi-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 100%;
  margin: 0px 5px 0px 60px;
  border-style: groove;
  border-radius: 40px;
  border-width: 7px;
}
.maincontacto h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  color: #792CDE;
  font-style: oblique;
}
.maincontacto label {
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif;
}
.maincontacto .buttons {
  margin: 2%;
}
.maincontacto button {
  display: inline;
  align-items: center;
  padding: 8px;
  color: #792CDE;
  background-color: #090909;
}
.maincontacto .buttons :hover {
  background-color: white;
}
@media (max-width: 768px) {
  .maincontacto .mi-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
  }
  .maincontacto label {
    font-size: medium;
  }
  .maincontacto textarea {
    height: 90%;
    width: 90%;
  }
  .maincontacto .mi-contacto div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

/*-------NOSOTROS--------*/
.main-nosotros {
  background: linear-gradient(rgba(255, 255, 0, 0.771), 35%, #792CDE);
  padding: 2%;
  width: 100%;
  height: 100%;
}
.main-nosotros div {
  height: 100%;
  width: 100%;
  color: #F53D84;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.main-nosotros div h1 {
  margin: 20px;
  font-size: 60px;
  font-family: fantasy;
}
.main-nosotros p {
  margin: 25px;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
}

@media (max-width: 768px) {
  iframe {
    width: 450px;
    height: 450px;
  }
}
@media (max-width: 430px) {
  .main-nosotros div h1 {
    font-size: x-large;
  }
  .main-nosotros div p {
    font-size: medium;
  }
  iframe {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 320px) {
  .main-nosotros div h1 {
    font-size: x-large;
  }
  .main-nosotros div p {
    font-size: medium;
  }
  iframe {
    width: 250px;
    height: 250px;
  }
}
/*----Fin de nosotros----*/

/*# sourceMappingURL=style.css.map */
