@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap"); /*---------LOGO Y MENU------------*/
.df-header {
  width: 100%;
  margin: 0 auto;
}
.df-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #081B33;
  border-radius: 0.4rem;
  padding-right: 80px;
  font-style: none;
}
.df-header .df-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.df-header li {
  margin: 50px;
  font-weight: 900;
}
.df-header a {
  text-decoration: none;
  color: #F53D84;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.df-header #toggle, .df-header nav label {
  display: none;
}
.df-header .logo {
  align-items: center;
  justify-content: center;
  padding: 1%;
}
.df-header .logo1 {
  width: 90px;
  height: 90px;
}
@media (max-width: 768px) {
  .df-header nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .df-header .df-ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  .df-header ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  .df-header label {
    display: inline-flex;
    color: white;
    cursor: pointer;
  }
  .df-header #toggle:checked .menu {
    height: 100%;
  }
}

/*-------MAIN INICIO-------------*/
.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(#792CDE, 5%, white, rgba(222, 109, 44, 0.7137254902));
}
.main .img-main2 {
  width: 65%;
  height: 30%;
}
.main .titulos .img {
  display: flex;
  width: 100%;
  height: 20%;
}
.main .titulos h1 {
  font: 400;
  font-family: fantasy;
  color: #F53D84;
  display: flex;
  justify-content: center;
  padding: 2%;
  animation-name: aparecer;
  animation-duration: 2s;
}
.main .titulos h2 {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font: 400;
  color: #F53D84;
  display: flex;
  justify-content: center;
  margin: 3%;
}
.main p {
  font: 400;
  font-size: xx-large;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #F53D84;
  justify-content: center;
  padding: 5%;
}

/*-------Pie de Pagina------*/
.bg-footer {
  background-color: #081B33;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bg-footer .type-white {
  color: #F53D84;
  margin: 20px;
  width: 80%;
  height: 80%;
  font-size: medium;
  font-family: cursive;
}
.bg-footer .redes {
  display: flex;
  align-items: center;
  padding: 5px;
}
.bg-footer i {
  color: #F53D84;
  font-weight: 500;
  font-size: 40px;
  margin: 15px;
}

/*--------MAIN PRODUCTOS---------*/
.main-productos {
  padding: 50px 5px 5px 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  background: linear-gradient(rgba(255, 255, 255, 0.766), rgba(121, 44, 222, 0.7725490196), 80%, rgba(222, 109, 44, 0.5764705882));
}
.main-productos h1 {
  font-size: 35px;
  font-family: fantasy;
  color: #7A2CDE;
}
.main-productos .parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 5px;
  border: 5px solid #F6C931;
  width: 90%;
  height: 90%;
  list-style: none;
}
.main-productos img {
  width: 90%;
  height: 30%;
}
.main-productos .div1 {
  grid-area: 1/1/2/2;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div2 {
  grid-area: 1/2/2/3;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div3 {
  grid-area: 1/3/2/4;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div4 {
  grid-area: 1/4/2/5;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div5 {
  grid-area: 2/1/3/2;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div6 {
  grid-area: 2/2/3/3;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div7 {
  grid-area: 2/3/3/4;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div8 {
  grid-area: 2/4/3/5;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
@media (max-width: 780px) {
  .main-productos .parent {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  .main-productos .parent .img {
    width: 100%;
    height: 100%;
  }
  .main-productos .parent div img {
    width: 300px;
    height: 300px;
    justify-content: center;
  }
}

/*--------Fin de Main Productos------*/
/*-------MAIN SERVICIOS-----*/
.main-servicios {
  color: #F53D84;
  font-weight: 500;
  font-size: xx-large;
  background: linear-gradient(rgba(255, 255, 255, 0.382), rgba(121, 44, 222, 0.7215686275), 90%, rgba(222, 109, 44, 0.5764705882));
}
.main-servicios img {
  padding: 1%;
  height: 60%;
  width: 50%;
}
.main-servicios .img1 {
  width: 35%;
  height: 70%;
}
.main-servicios h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400;
  font-family: fantasy;
  padding: 3%;
}
.main-servicios h2 {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.main-servicios p {
  font-size: xx-large;
  font-weight: 500;
  font-style: oblique;
  margin: 5%;
}
.main-servicios .tratamientos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  list-style: none;
}
.main-servicios .img-servis {
  width: 320px;
  height: 320px;
  margin: 1%;
}

/*------Fin de Servicios----*/
/*---------Contacto---------*/
.maincontacto {
  background: linear-gradient(rgba(246, 200, 49, 0.7960784314), 30%, rgba(121, 44, 222, 0.7294117647), #F53D84);
}
.maincontacto .mi-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0px 5px 0px 100px;
  border-style: groove;
  border-radius: 40px;
  border-width: 7px;
}
.maincontacto h1 {
  padding: 3%;
  color: #792CDE;
  font-style: oblique;
}
.maincontacto .buttons {
  margin: 2%;
}
.maincontacto button {
  display: inline;
  align-items: center;
  padding: 8px;
  color: #792CDE;
  background-color: #090909;
}

/*-------NOSOTROS--------*/
.main-nosotros {
  background: linear-gradient(rgba(255, 255, 0, 0.771), 35%, #792CDE);
  padding: 2%;
}
.main-nosotros .img1 {
  width: 40%;
  height: 50%;
}
.main-nosotros .img2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.main-nosotros .img2 img {
  width: 60%;
  height: 80%;
  display: inline;
  justify-content: flex-start;
}

/*----Fin de nosotros----*/
a:active {
  text-decoration: none;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
