@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap"); /*---------LOGO Y MENU------------*/
.df-header {
  width: 100%;
  margin: auto;
}
.df-header nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #081B33;
  border-radius: 0.4rem;
  padding-right: 60px;
  font-style: none;
}
.df-header .df-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: auto;
  width: auto;
  margin: 0%;
}
.df-header li {
  margin: 50px;
  font-weight: 900;
}
.df-header a {
  text-decoration: none;
  color: #F53D84;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
.df-header nav #toggle, .df-header nav label {
  display: none;
}
.df-header .logo1 {
  width: 90px;
  height: 90px;
  padding: 10px;
}
@media (max-width: 1100px) {
  .df-header nav .menu {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .df-header .df-ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  .df-header ul {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem 0;
  }
  .df-header .logo {
    display: flex;
    justify-content: left;
    padding: 0%;
    margin: 0%;
  }
  .df-header nav label {
    display: inline-block;
    color: white;
    cursor: pointer;
    justify-content: right;
    margin: 0%;
  }
  .df-header nav #toggle:checked ~ .menu {
    height: 100%;
    width: 100%;
  }
  .df-header i {
    font-size: 50px;
    font-weight: 500;
  }
  .df-header a {
    font-size: small;
  }
}

/*-------MAIN INICIO-------------*/
.main {
  width: 100%;
  height: 100%;
  background: linear-gradient(#792CDE, 5%, rgb(255, 255, 255), rgba(234, 206, 81, 0.7098039216));
}
.main .img-main2 {
  width: 65%;
  height: 35%;
  margin: 0 0 0 5%;
}
.main .titulos .img {
  width: 90%;
  height: 10%;
  margin: 0 0 0 5%;
  object-fit: fill;
}
.main .titulos h1 {
  font-family: fantasy;
  color: #F53D84;
  display: flex;
  justify-content: center;
  padding: 3%;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.main .titulos h2 {
  font-size: 30px;
  font-family: initial;
  color: white;
  display: flex;
  justify-content: center;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: 3;
  background-color: #F53D84;
}
.main p {
  font-size: x-large;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #f53d84;
  justify-content: center;
  padding: 5%;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}
@media (max-width: 1100px) {
  .main .titulos h2 {
    font-size: x-large;
  }
  .main p {
    font-size: large;
  }
}
@media (max-width: 720px) {
  .main .titulos h2 {
    font-size: large;
  }
}

/*-------Pie de Pagina------*/
.bg-footer {
  background-color: #081B33;
  padding: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bg-footer .type-white {
  color: #F53D84;
  margin: 20px;
  width: 80%;
  height: 80%;
  font-size: medium;
  font-family: cursive;
}
.bg-footer .redes {
  display: flex;
  align-items: center;
  padding: 5px;
}
.bg-footer i {
  color: #F53D84;
  font-weight: 500;
  font-size: 40px;
  margin: 15px;
}
.bg-footer i:hover {
  font-size: 30px;
}

@media (max-width: 768px) {
  .type-white {
    font-size: x-small;
    align-items: center;
  }
  .redes {
    margin: 0%;
    padding: 0%;
    width: 180px;
    height: 180px;
    flex-direction: row;
  }
  i {
    font-weight: 50;
    font-size: small;
  }
  a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*--------MAIN PRODUCTOS---------*/
.main-productos {
  padding: 50px 5px 5px 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.766), rgba(121, 44, 222, 0.7725490196), 45%, #F6C931);
}
.main-productos h1 {
  font-size: 35px;
  font-family: fantasy;
  color: #7A2CDE;
  animation-name: aparecer;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.main-productos h2 {
  color: #F6C931;
  background-color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 25px;
}
.main-productos .parent {
  width: 85%;
  height: 85%;
  padding: 1%;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 5px;
  border: 10px inset #F6C931;
  list-style: none;
  color: white;
}
.main-productos img {
  width: 100%;
  height: 50%;
  border: 5px double white;
  border-radius: 10px;
  display: flex;
  margin: 0 0 0 20px;
}
.main-productos .img1 {
  width: 100%;
  height: 80%;
  margin: 0%;
  border: none;
  border-radius: 25px;
}
.main-productos .div1 {
  grid-area: 1/1/2/2;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div2 {
  grid-area: 1/2/2/3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div3 {
  grid-area: 1/3/2/4;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div4 {
  grid-area: 1/4/2/5;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div5 {
  grid-area: 2/1/3/2;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div6 {
  grid-area: 2/2/3/3;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div7 {
  grid-area: 2/3/3/4;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
.main-productos .div8 {
  grid-area: 2/4/3/5;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
}
@media (max-width: 780px) {
  .main-productos .parent {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    list-style: none;
    grid-row-gap: 55px;
  }
  .main-productos .parent .img {
    width: 40%;
    height: 50%;
    margin-left: 25%;
  }
  .main-productos .parent h2 {
    font-size: x-large;
  }
  .main-productos .parent p {
    font-size: large;
    color: black;
    align-items: baseline;
  }
  .main-productos .parent li {
    font-size: large;
    color: black;
  }
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*--------Fin de Main Productos------*/
/*-------MAIN SERVICIOS-----*/
.main-servicios {
  color: #F53D84;
  font-weight: 500;
  font-size: xx-large;
  background: linear-gradient(rgba(255, 255, 255, 0.382), rgba(121, 44, 222, 0.7215686275), 90%, rgba(222, 109, 44, 0.5764705882));
}
.main-servicios .img1 {
  width: 45%;
  height: 65%;
}
.main-servicios h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400;
  font-family: fantasy;
  padding: 3%;
}
.main-servicios h2 {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
.main-servicios p {
  font-size: xx-large;
  font-weight: 500;
  font-style: oblique;
  margin: 5%;
}
.main-servicios .tratamientos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  list-style: none;
  font-family: initial;
  background-color: rgba(0, 0, 0, 0.733);
  padding: 90px;
}
.main-servicios .img-servis {
  width: 320px;
  height: 320px;
  margin: 1%;
  border: 15px solid white;
  border-radius: 10px;
}
.main-servicios .img-servis:hover {
  width: 420px;
  height: 420px;
}
.main-servicios .li1 {
  animation-name: aparecer;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.main-servicios .li2 {
  animation-name: aparecer;
  animation-duration: 4s;
  animation-iteration-count: 1;
}
.main-servicios .li3 {
  animation-name: aparecer;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
.main-servicios .li4 {
  animation-name: aparecer;
  animation-duration: 6s;
  animation-iteration-count: 1;
}
.main-servicios .li5 {
  animation-name: aparecer;
  animation-duration: 7s;
  animation-iteration-count: 1;
}
.main-servicios .li6 {
  animation-name: aparecer;
  animation-duration: 8s;
  animation-iteration-count: 1;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 3;
  }
}
@media (max-width: 1180px) {
  .main-servicios .tratamientos {
    flex-direction: column;
  }
  .main-servicios p {
    font-size: x-large;
  }
  .main-servicios .img-servis {
    width: 230px;
    height: 230px;
    display: flex;
    justify-content: center;
  }
  .main-servicios .img-servis:hover {
    width: 320px;
    height: 320px;
  }
  .main-servicios .img1 {
    width: 70%;
    height: 70%;
  }
}
@media (max-width: 960px) {
  .main-servicios .img2 {
    width: 100%;
    height: 100%;
  }
}

/*------Fin de Servicios----*/
/*---------Contacto---------*/
.maincontacto {
  background: linear-gradient(rgba(246, 200, 49, 0.7960784314), 30%, rgba(121, 44, 222, 0.7294117647), #F53D84);
}
.maincontacto .mi-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
  margin: 0px 5px 0px 60px;
  border-style: groove;
  border-radius: 40px;
  border-width: 7px;
}
.maincontacto h1 {
  padding: 3%;
  color: #792CDE;
  font-style: oblique;
}
.maincontacto .buttons {
  margin: 2%;
}
.maincontacto button {
  display: inline;
  align-items: center;
  padding: 8px;
  color: #792CDE;
  background-color: #090909;
}
@media (max-width: 768px) {
  .maincontacto .mi-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0%;
  }
  .maincontacto textarea {
    height: 40%;
    width: 40%;
  }
}

/*-------NOSOTROS--------*/
.main-nosotros {
  background: linear-gradient(rgba(255, 255, 0, 0.771), 35%, #792CDE);
  padding: 2%;
  width: 100%;
  height: 100%;
}
.main-nosotros .img1 {
  width: 40%;
  height: 50%;
}
.main-nosotros .img2 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.main-nosotros .img2 img {
  width: 60%;
  height: 80%;
  display: inline;
  justify-content: flex-start;
}

@media (max-width: 780px) {
  iframe {
    width: 40%;
    height: 50%;
  }
}
/*----Fin de nosotros----*/
* {
  margin: 0 auto;
  padding: 0 auto;
  list-style: none;
  box-sizing: border-box;
  user-select: none;
}

a:active a:link, a:visited {
  text-decoration: none;
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
