/*-------Pie de Pagina------*/
.bg-footer {
  background-color: #228FA8;
  padding: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .type-white {
    color: #ffffff;
    margin: 20px;
    width: 80%;
    height: 80%;
    font-size: large;
    font-style: inherit;
    font-family: cursive;
  }

  .redes {
    display: flex;
    align-items: center;
    padding: 5px;
  }

  i {
    color: #ffffff;
    font-size: 45px;
    margin: 15px;
  }

  i:hover {
    transform: scale(1.5);
  }
}

@media (max-width: 768px) {
  .bg-footer .type-white {
    font-size: medium;
    align-items: center;
    text-align: center;
    margin: 0;
    padding-left: 5px;
  }

  .redes {
    margin: 0;
    padding: 0;
    width: 180px;
    height: 180px;
    flex-direction: row;
  }

  .bg-footer i {
    font-weight: 50;
    font-size: 30px;
  }

  .bg-footer a {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}