/*-------Pie de Pagina------*/
.bg-footer {
    background-color: #081B33;
    padding: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .type-white {
        color: #F53D84;
        margin: 20px;
        width: 80%;
        height: 80%;
        font-size: medium;
        font-family: cursive;
      }
      .redes{
        display: flex;
        align-items: center;
        padding: 5px;
      }
       i{
        color: #F53D84;
        font-weight: 500;
        font-size: 40px;
        margin: 15px;
      }
    }
    @media (max-width: 768px){
      .type-white{
        font-size: x-small;
      }
        .redes{
          margin: 0%;
          padding: 0%;
          width: 180px;
          height: 180px;
          flex-direction: row;
        }
        i{ font-weight: 50;
          font-size: small;
        }
          a{
            width: 50px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
    }