/*-------MAIN INICIO-------------*/
.main {
    width: 100%;
    height: 100%;
    background: linear-gradient( #792CDE, 5%, rgb(255, 255, 255)
    , #eace51b5);
    .img-main2{
        width: 65%;
        height: 35%;
        margin: 0 0 0 5%;

      }
      .titulos .img{
        width: 90%;
        height: 10%;
        margin: 0 0 0 5%;
        object-fit: fill;
      }
      .titulos h1{
        font-family: fantasy;
        color: #F53D84;
        display: flex;
        justify-content: center;
        padding: 3%;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-iteration-count: infinite;
      }
      .titulos h2{
        font-size: 30px;
        font-family: initial;
        color:  white;
        display: flex;
        justify-content: center;
        animation-name: aparecer;
        animation-duration: 2s;
        animation-iteration-count: floor($number: 3 );
        background-color: #F53D84;
      }
      p{
        font-size: x-large;
        font-weight: 600;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #f53d84;
        justify-content: center;
        padding: 5%;
      }
      @keyframes aparecer{
        0%{
          opacity: 0;
        }
        100%{
          opacity: 2;
        }
      }
      @media (max-width: 1100px){
        .titulos h2{
          font-size: x-large;
        }
        p{font-size: large;}
      }
      @media (max-width: 720px){
        .titulos h2{
          font-size: large;
        }
      }
  }
