/*---------LOGO Y MENU------------*/
.df-header{
    width: 100%;
    margin: 0 auto;
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        background-color: #081B33;
        border-radius: 0.4rem;
        padding-right: 60px;
        font-style: none;
      }
      .df-ul {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        height: auto;
        width: auto;
        margin: 0%;
      }
     li {
        margin: 50px;
        font-weight: 900;
      }
     a {
        text-decoration: none;
        color: #F53D84;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
      }
      nav #toggle, nav label {
        display: none;
      }
      .logo1 {
        width: 90px;
        height: 90px;
        padding: 10px;
      }
      @media (max-width: 768px){
        nav .menu{
          width: 100%;
          height: 0;
          overflow: hidden;}
          .df-ul {
            flex-direction: column;
            align-items: center;
            padding: 0.5rem 0;
        }
          ul{
            flex-direction: column;
            align-items: center;
            padding: 0.5rem 0;
        }
        nav label{
          display: inline-flex;
          color: white;
          cursor: pointer;}
            nav #toggle:checked ~ .menu{
              height: 100%;
          }
          a{
            font-size: small;
          }
      }
    }